@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: ubuntu, sans-serif;
}

/* ortalamalar için ortak sınıflar */

.align-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.align-row-column {
    padding: 10px;
}

.row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.align-container-column {
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px 10px;
    box-sizing: border-box;
    flex-basis: 30%;

}

/* header*/

header {
    background-color: yellowgreen;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 00.7)), url(images/bg.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    cursor: pointer;

}

.nav-links ul li a::after {
    content: "";
    width: 100%;
    background-color: white;
    display: block;
    margin: auto;
    height: 2px;
    margin-top: 5px;
}

.nav-links ul li a:hover::after {
    background-color: red;
    width: 100%;
    transition: .3s;
}

nav .bi {
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* text-box */
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 10px 40px;
    color: white;
}

.text-box a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
    border: .5px solid white;
}

.text-box a:hover {
    transition: .5s;
    font-size: 17px;
    border: none;
}

/* Kurslar */
h1 {
    font-size: 35px;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}

.course-col {
    background-color: rgb(224, 224, 220);
}

.course-col:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transition: .7s;
}

h3 {
    margin: 10px 0;
}

/* Yerlerimiz */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    border-radius: 10px;
    margin-bottom: 30px;
    flex-basis: 30%;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 110%;
    display: block;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;
}

.layer:hover {
    background-color: rgba(152, 72, 72, 0.5);
}

.layer h3 {
    opacity: 0;
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    transition: 1s;
}

.layer:hover h3 {
    bottom: 50%;
    opacity: 1;
    transition: .7s;
}

/* Birimlerimiz */

.facilities-col {
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    margin: 16px 0;
}

/*testemonials */

.testemonials-col {
    background-color: rgb(224, 224, 220);
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
}

.testemonials-col img {
    height: 50px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

.testemonials-col div {
    padding: 0;
}

.testemonials-col div .bi {
    color: red;
}

/* ua */

.ua {
    width: 80%;
    margin: 50px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/london.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.ua h1 {
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

.ua a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
    border: .5px solid white;
}

.ua a:hover {
    transition: .5s;
    font-size: 17px;
    border: none;
}


/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer h1 {
    margin: 25px 0;
}

footer p {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.icons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons .bi {
    font-size: 30px;
    opacity: 0.7;
    color: red;
    margin: 10px 10px;
    cursor: pointer;
    padding: 20px 10px;
}

.icons .bi:hover {
    opacity: 1;
    transition: 0.3s;
}

footer .bi-heart-fill {
    color: pink;
}

/* responsive */
@media(max-width:576px) {
    nav .bi {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .text-box h1 {
        font-size: 40px;
    }

    .row {
        flex-direction: column;
    }
}